<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="farm">
      <ion-label> Farm </ion-label>
      <ion-icon name="business"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="farm-support">
      <ion-label> Support </ion-label>
      <ion-icon name="business"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="category">
      <ion-label> Category </ion-label>
      <ion-icon name="business"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="seller-activation">
      <ion-label> Users </ion-label>
      <ion-icon name="business"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
