<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ufarm/farms/buy"></ion-back-button>
    </ion-buttons>
    <ion-title>Buy Item</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCartAdd()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding-vertical">
        <ion-item>
          <ion-label> {{item.name}} </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-padding-vertical">
        <ion-item>
          <ion-label> {{item.description}} </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-padding-vertical">
        <ion-item>
          Quantity Available - {{item.quantity_available}} - {{ item.unit}}
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-padding-vertical">
        <ion-item>
          Price - {{ farmItem.base_price + (item.offer_price_percentage *
          farmItem.base_price / 100)}}
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-padding-vertical">
        <ion-item>
          <ion-label position="floating"> Order Quantity </ion-label>
          <ion-input type="number" id="order_quantity" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-label position="floating"> Image </ion-label>
        <app-image-picker
          [imageUrl]="imageUrl"
          [showPreview]="item.image_url"
        ></app-image-picker>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
